.container
{
    text-align: center;
}
table
{
    margin: auto;
}
input
{
    font-size: 25px;
    border-radius: 10px
}
button
{
    background-color: aquamarine;
    padding: 9px;
    height: 42px;
    width: 56px;
    margin: 5px;
    border-radius: 15px;
}
.calc
{
    border: 2px solid rgba(81, 210, 1, 0.906);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: slategray;
}


